.red{
    color:red;
}

.blue{
    color:blue;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.greenyellow{
    color:greenyellow;
}

.bold{
    font-weight: bold;
}

.size-15{
    font-size: 15px;
}

.chart-height1{
    height: 250px;
}

.padding-big{
    padding:5px 5px 5px 20px;
}

.padding-medium{
    padding:3px 3px 3px 20px;
}

.padding-small{
    padding:1px 1px 1px 20px;
}

.bg-normal{
    background-color: #F0F0F0;
    border-color:#8B5742
}
.bg-normal a{
    color:#A020F0;
}

.margin-3{
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin-10{
    margin-top: 10px;
    margin-bottom: 5px;
}

.button-sm{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size:12px;
}

.textarea-fixed{
    height:320px;
}

.header-img{
    height: 30px;
    width: 30px;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1100px;
    }
}

#my-container {
    position:absolute;
    left:50px;
    right:50px;
    top:5px;
}

.my-header {
    position: absolute;
    top:5px;
    left: 150px;
    right: 150px;
    z-index: 1002;
}



.my-search {
    margin-top: 0px ;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fff;
    box-shadow: none;
    background: url("../img/search-icon.jpg") no-repeat 10px 8px;
    padding:0 5px 0 35px;
    color: #fff;
}

.my-search:focus {
    margin-top: 0px ;
    width: 200px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
}
